{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{% get_media_prefix as MEDIA_PREFIX %} 

<!DOCTYPE html>
<html>
<head>
    <title>Tomato Timer</title>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/tomatotimer.css" />

    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/bootstrap-modal.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/bootstrap-button.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/bootstrap-tooltip.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/bootstrap-popover.js"></script>

    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/timer.js"></script>
</head>
<body>
    <div class="container">

		<div class="row">
            <div class="span12">
                <div class="well">
                <a href="/" class="nohover">
                    <h1>Tomato Timer <small>Time Manager - The Pomodoro Technique</small> </h1>
                </a>
                </div>
            </div>
		</div>
		<div class="row">
			<div class="span12">
				<div id="wrong_browser" class="alert-message error" hidden="hidden">
					<p><strong>Google Chrome required!</strong><br/>
						Notifications are not supported for this Browser/OS version yet.
						This application needs <strong>desktop notifications</strong>,
						which are currently implemented in <strong>Google Chrome</strong> only.
					</p>
				</div>
				<div id="no_permission" class="alert-message warning" hidden="hidden">
					<p><strong>Notifications Permission required!</strong><br/>
						Notifications are not granted for this Browser.
						<strong>Allow Notifications permission</strong>
						to this application to use all cool application features.
					</p>
				</div>
			</div>
        </div>
        <div class="row">
			<div class="span8">
                <div class="row">
                    <div class="span4">
                        <div class="well">

<!-- The Timer -->
<div id="currentTime" class="tomato">00:00</div>
<!-- /The Timer -->

                        </div>
                    </div>
                    <div class="span4">

<!-- Task Description -->
<div class="row">
    <div class="span4">
        <div class="well" style="height:110px">
            <blockquote>
                <h1 id="doingTaskTitle">Task Title</h1>
                <span id="doingTaskDesc">task description</span>
                <small>
                    <span id="doingTastStartTime"></span>
                    <span id="doingTastFinishTime"></span>
                </small>
            </blockquote>
        </div>
    </div>
</div>
<!-- /Task Description -->

<!-- Task Controller -->
<div class="row">
    <div class="span4">
        <div class="well" style="height:30px">
            <div id="startButtonGroup" class="btn-container">
                <button id="taskStart" class="btn btn-success btn-controller" style="width: 100%">Start</button>
            </div>
            <div id="interruptionButtonGroup" class="btn-container" hidden="hidden">
                <button id="taskInterruption" class="btn btn-danger btn-controller" style="width: 100%">Interruption</button>
            </div>
            <div id="breakButtonGroup" class="btn-container" hidden="hidden">
                <div class="btn-group">
                <button id="taskShortBreak" class="btn btn-info btn-controller" style="width: 50%">Short Break</button>
                <button id="taskLongBreak" class="btn btn-primary btn-controller" style="width: 50%">Long Break</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Task Controller -->

                    </div> 
                </div>
                <div class="row">
                    <div class="span8">

<!-- Activity Inventory -->
<div class="well height1 autoscroll">
    <div id="AIListView">
        <!-- Activity Inventory List View -->
        <h3 id="AIListViewTitle" class="span3">Activity Inventory</h3>
        <a id="newTaskBtn" class="btn btn-primary pull-right" href="#"><i class="icon-plus-sign icon-white"></i> New Task</a>
        <table class="table table-striped">
            <thead id="AIListViewTableHead">
                <th class="span3">Task</th>
                <th class="span2"><span id="aiPriority">Priority</span></th>
                <th class="span2"></th>
            </thead>
            <tbody id="AIListViewTableBody">
                <!-- aiList dom handled by javascript -->
                <!-- HTML code example-->
        
                <!--tr id="task-{task.id}">
                    <td><i class="icon-remove-sign" onclick="removeTaskFromAIListView({task.id});"></i>{task.title}</td>
                    <td><span class="label label-important">priority</span></td>';
                    <td><a id="addToTodoList" class="btn" href="#">Add TODO <i class="icon-chevron-right"></i></a></td>
                </tr-->
            </tbody>
        </table>
        <!-- /Activity Inventory List View -->
    </div>
    <div id="AIAddView" hidden="hidden">
        <!-- Activity Inventory Append View -->
        <form id="addTaskForm" class="form-horizontal">
        <fieldset>
        <div class="control-group">
            <label class="control-label">New Task</label>
            <div class="controls">
                <input id="iTaskTitle" type="text" />
                <span class="help-inline">Tast Content</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Task Priority</label>
            <div class="controls">
                <select id="iTaskPriority" type="text">
                    <option value="ITP-CRITICAL">Critical (Highest)</option>
                    <option value="ITP-RUSH">Rush</option>
                    <option value="ITP-NORMAL" selected>Normal</option>
                    <option value="ITP-LOW">Low (Lowest)</option>
                </select>
                <span class="help-inline">Priority of task</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Task Description</label>
            <div class="controls">
                <input id="iTaskDesc" type="text" />
                <span class="help-inline">(Optional) Attaching resources of task</span>
            </div>
        </div>
        <div class="form-actions">
            <button id="addTaskBtn" type="submit" class="btn btn-primary">Save</button>
            <button id="cancelAddTaskBtn" type="reset" class="btn btn-danger">Cancel</button>
        </div>
        </fieldset>
        </form>
        <!-- /Activity Inventory Append View -->
    </div>
</div>
<!-- /Activity Inventory -->

                    </div>
                </div>
			</div>

			<div class="span4">

<!-- Today Todo List -->
<div class="well height2 autooverflow">
    <h3 class="pull-left">Today's TODO</h3>
    <table class="table table-striped">
        <thead id="todoListViewTableHead">
            <th class="span4"></th>
        </thead>
        <tbody id="todoListViewTableBody">
            <!-- todoList dom handled by javascript -->
            <!-- HTML code example
            <tr>
                <td>
                    <i class="icon-chevron-left"></i>
                    <span class="label label-important">Task.Priority.Shortcut</span>
                    <span>Task.title</span>
                </td>
                <td>
                    <i class="icon-remove-sign"></i>
                </td>
            </tr>
            -->
        </tbody>
    </table>
</div>
<!-- /Today Todo List -->

			</div>
		</div>

	<footer>
        <p>
        <span>&copy;2012 tomatotimer - v0.1</span>
        <span><a href="http://tomatotimer.richardma.org" target="_blank">Home</a></span>
        <span><a href="http://tomatotimer-demo.richardma.org" target="_blank">Demo</a></span>
        <span><a href="http://tomatotimer-source.richardma.org" target="_blank">Source</a></span>
        </p>
	</footer>
</div>
<!-- /container -->

<a target="_blank" href="https://github.com/richard-ma/tomatotimer">
    <img style="position: absolute; z-index: 5; top: 0; right: 0; border: 0;" src="{{ STATIC_PREFIX }}images/forkme_right_red.png" alt="Fork me on GitHub" />
</a>
</body>
</html>
